*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
::selection{
    background-color: #134c5f;
    color: #ffffff;
}
/*--main------------------------------*/
#main{
    width:100%;
    min-height: 83vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
 
}
.logo{
    height: 70px;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.menu li a{
    margin: 0px 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.menu li a i{
    margin-right: 5px;
}
.nav-contact,
.nav-services{
    padding: 13px 25px;
 
}
.nav-services{
    background-color: #ffffff;
    color: #0f0e0f;
    font-weight: 500;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.10);
 
}
.nav-contact{
    background-color: #124c5f;
    color: #ffffff ;
    font-weight: 400;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.20);
}
.nav-contact:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}
 
/*---main-text---------*/
.main-text{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-10%,-60%);
    width:400px;
}
.main-text h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
    color: #252525;
    letter-spacing: 1px;
}
.main-text p{
    font-size: 0.9rem;
    color: #3a3a3a;
    margin-top: 10px;
}
.main-btns{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-btns a{
    width:170px;
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 4px;
 
}
.service-btn i{
    color: #ffffff;
    margin-left: 5px;
}
.service-btn{
    background-color: #124c5f;
    color: #ffffff;
}
.about-btn{
    color: #181518;
    background-color: #b7e2d8;
    font-weight: 500;
}
.about-btn i{
    color: #201c1c;
    margin-left: 5px;
}
.service-btn:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}
.about-btn:hover{
    background-color: #d0f5ec;
    transition: all ease 0.3s;
}
/*-------logos--------------*/
 
.pet-logo{
    height: 40px;
    display: flex;
    margin: 20px 40px;
}
.pet-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.pet-logo img{
    height: 100%;
    object-position: center;
    object-fit: contain;
    filter: grayscale(1);
    opacity: 0.4;
}
.pet-logo:hover img{
    filter: grayscale(0) ;
    opacity: 1;
    transition: all ease 0.3s;
}
/*---about-----------------*/
#about,
#about-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url(../images/all\ bg.png);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
}
.about-img{
    width:400px;
    height: 500px;
}
.about-img img{
    width:100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.about-text{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text span{
    text-transform: uppercase;
    color: #134c5f;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.9rem;
}
.about-text h2{
    font-size: 2.3rem;
    color: #1c1d20;
    line-height: 45px;
    margin: 10px 0px;
}
.about-text p{
    color: #535353;
 
}
.about-btns{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.about-btns a{
    width:170px;
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 4px;
 
}
.service-btn i{
    color: #ffffff;
    margin-left: 5px;
}
.service-btn{
    background-color: #124c5f;
    color: #ffffff;
}
.about-btn{
    color: #181518;
    background-color: #b7e2d8;
    font-weight: 500;
}
.about-btn i{
    color: #201c1c;
    margin-left: 5px;
}
.service-btn:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}
.about-btn:hover{
    background-color: #d0f5ec;
    transition: all ease 0.3s;
}
/*-------logos--------------*/
 
.pet-logo{
    height: 40px;
    display: flex;
    margin: 20px 40px;
}
.pet-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.pet-logo img{
    height: 100%;
    object-position: center;
    object-fit: contain;
    filter: grayscale(1);
    opacity: 0.4;
}
.pet-logo:hover img{
    filter: grayscale(0) ;
    opacity: 1;
    transition: all ease 0.3s;
}
/*---about-----------------*/
#about,
#about-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url(../images/all\ bg.png);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
}
.about-img{
    width:400px;
    height: 500px;
}
.about-img img{
    width:100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.about-text{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text span{
    text-transform: uppercase;
    color: #134c5f;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.9rem;
}
.about-text h2{
    font-size: 2.3rem;
    color: #1c1d20;
    line-height: 45px;
    margin: 10px 0px;
}
.about-text p{
    color: #535353;
 
}
.about-btns{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.about-btns a{
    width:170px;
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 4px;
 
}
.contact-btn{
    color: #201c1c;
    font-weight: 500;
}
.contact-btn i{
    margin-left: 5px;
}
 
/*services-------------------*/
#services{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
    padding:50px 0px;
 
}
.services-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-heading span{
    color: #1d6c86;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}
.services-heading strong{
	color:#2E2E2E;
	font-size:2rem;
	letter-spacing:0px;
    letter-spacing: 1px;
	font-weight:700;}
 
.services-container{
    width: 90%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ; /*3 columns*/
    grid-template-rows: auto auto; /*2 rows*/
	margin:50px 0px 20px 0px;}
 
.service-box{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:20px;}
.service-box i {
	font-size:2.1rem;
    margin-bottom: 10px;
}
 
.service-box p{
    color: #5f5f5f;
    font-size: 0.9rem;
}
.service-box strong{
	font-size:1rem;
	font-weight:600;
	color:#221d2c;
}
.fa-paw{
    color: #65979a;
}
.fa-home{
    color: #e0a166;
}
.fa-dog{
    color: #53a5bb;
}
.fa-medal{
    color: #af35a0;
}
.fa-trophy{
    color: #7db155;
}
.fa-heartbeat{
    color:#5fa79a;
}
/*-----about-2-------------*/
#about-2{
    flex-direction: row-reverse;
}
/*--contact------------------*/
 
.contact-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
}
.contact-box{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #e2e2e2;
}
.contact-box strong{
    color:#2c2c2c;
    font-size: 1.3rem;
}
.contact-box p{
    color: #5c5c5c;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}
.contact-box p span{
    color: #059bce;
}
/*---footer----*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f4fafa;
    color: #222222;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0,0,0,0.05);
}
/*---making-website-responsive-----------------------------*/
@media(max-width:1200px){
    .services-container{
        width:100%;
    }
}
@media(max-width:1150px){
    #main{
        background-position: left bottom;
    }
}
@media(max-width:1000px){
    .main-text{
        left: 20%;
        transform: translate(-20%,-60%);
    }
    #about,
    #about-2{
        flex-direction: column-reverse;
    }
    .about-text{
        width:90%
    }
    .services-container{
        width:95%;
    }
    .services-container{
        width: 95%;
       grid-template-columns:1fr 1fr; /*2 columns*/
       grid-template-rows: auto auto auto; /*3 rows*/
    }
    #contact{
        margin-top: 40px;
    }
    
 
}
@media (max-width:780px) {
    .contact-box-container{
        flex-wrap: wrap;
    }
    .contact-box{
       width: 100%;
        text-align: center;
    }
    
}
 
@media(max-width:700px){
    .services-container{
        width: 100%;
       grid-template-columns:1fr; /*4 columns*/
       grid-template-rows: auto auto auto; /*2 rows*/
    }
    .services-heading strong{
        font-size: 1.4rem;
        text-align: center;
    }
}
@media(max-width:650px){
 
    .main-text{
        width: 70%;
        left: 20%;
        transform: translate(-20%,-60%);
    }
    
 
}
@media(max-width:600px){
    #main{
        min-height: auto;
        background-position: left bottom;
        background-size: 1400px;
    }
    .main-text{
        width: 70%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px auto;
        transform: translate(0,0);
    }
    .about-img{
        width:70%;
        height: auto;
        margin: 20px;
    }
}
@media(max-width:460px){
    .nav-services{
        display: none;
    }
    .main-text{
        width: 80%;
    }
    .main-btns{
        flex-direction: column;
        width: 100%;
    }
    .main-btns a{
        width: 100%;
        margin: 10px 0px;
    }
    .main-text h1,
    .about-text h2{
        font-size: 2rem;
        line-height: 40px;
    }
    
    .services-heading{
        width: 90%;
    }
    .services-heading strong{
        font-size: 1.3rem;
        text-align: center;
 
    }
}
@media(max-width:400px){
    .about-btns{
        flex-direction: column;
    }
    .about-btns a{
        width: 100%;
        margin: 10px 0px;
    }
}

